# 前端 Dockerfile 忽略文件
node_modules
dist
dist-ssr
*.local
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tests-e2e
playwright-report
test-results
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
